Source: dosbox-staging
Section: otherosfs
Priority: optional
Maintainer: Feignint <37488595+FeignInt@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13),
  libsdl2-dev (>= 2.0.2),
  libsdl2-net-dev (>= 2.0.0),
  libasound2-dev,
  libopusfile-dev,
  libpng-dev,
  libfluidsynth-dev (>= 2.1.1),
  meson (>= 0.54.2),
# Git required for Meson's subprojects feature
  git,
  cmake,
  libmt32emu2-dev (>= 2.5.0),
Standards-Version: 4.5.0
Homepage: https://dosbox-staging.github.io/about/
Vcs-Git: https://github.com/feignint/dosbox-staging-deb.git
Vcs-Browser: https://github.com/feignint/dosbox-staging-deb/
Rules-Requires-Root: no

Package: dosbox-staging
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: musescore-general-soundfont |
            musescore-general-soundfont-lossless |
            musescore-general-soundfont-small
Conflicts: dosbox
Description: DOS/x86 emulator focusing on ease of use
 DOSBox Staging is a full x86 CPU emulator (independent of host architecture),
 capable of running DOS programs that require real or protected mode.
 .
 It features:
 .
   A built-in DOS-like console.
 .
   Emulation of several PC variants (IBM PC, IBM PCjr, Tandy 1000)
   and CPUs (286, 386, 486, and Pentium I).
 .
   Graphics chipsets: Hercules, CGA, EGA, VGA, and SVGA.
 .
   Audio solutions: PC Speaker, Tandy Sound System, Disney Sound Source,
   Sound Blaster series, and Gravis UltraSound.
 .
   CDROM and CD Digital Audio with audio optionally encoded as FLAC, Opus,
   OGG/Vorbis, MP3 or WAV.
 .
   Joystick emulation working with modern game controllers.
 .
   Serial port emulation including IPX over UDP and Telnet over TCP/IP.
 .
   Hardware-accelerated video output including integer (pixel-perfect) scaling,
   sharp-bilinear scaling, OpenGL shaders, and more.
