Source: dosbox-staging
Section: otherosfs
Priority: optional
Maintainer: Feignint <37488595+FeignInt@users.noreply.github.com>
Homepage: https://dosbox-staging.github.io/about/
Build-Depends: debhelper-compat (= 11), libsdl2-dev, libsdl2-net-dev,
 libasound2-dev, libopusfile-dev, libpng-dev, libncurses-dev | libncurses5-dev,
 librsvg2-bin
Standards-Version: 4.4.1
Vcs-Git: https://github.com/dosbox-staging/dosbox-staging.git
Vcs-Browser: https://github.com/dosbox-staging/dosbox-staging/
Rules-Requires-Root: no

Package: dosbox-staging
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: dosbox
Description: x86 emulator for DOS-era video games
 dosbox-staging is an attempt to revitalize DOSBox's
 development process. It's not a rewrite, but a continuation
 and improvement on the existing DOSBox codebase while
 leveraging modern development tools and practices.

Package: dosbox-staging-debug
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}, dosbox-staging (= ${binary:Version})
Conflicts: dosbox-debug
Description: x86 emulator for DOS-era video games
 dosbox-staging is an attempt to revitalize DOSBox's
 development process. It's not a rewrite, but a continuation
 and improvement on the existing DOSBox codebase while
 leveraging modern development tools and practices.
 .
 This package contains the dosbox-staging debugger.
