#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk
export DEB_CPPFLAGS_MAINT_APPEND  = -D_FILE_OFFSET_BITS=64 -DNDEBUG
export DEB_LDFLAGS_MAINT_APPEND   = -flto=$(shell nproc)

default_opt_level := $(shell dpkg-buildflags --get CFLAGS | grep -E -o [-]O[0-3] )
    new_opt_level  = -O3

export DEB_CFLAGS_MAINT_STRIP     = -g $(default_opt_level)
export DEB_CXXFLAGS_MAINT_STRIP   = $(DEB_CFLAGS_MAINT_STRIP)

export DEB_CFLAGS_MAINT_PREPEND   = -g $(new_opt_level) -flto
export DEB_CXXFLAGS_MAINT_PREPEND = $(DEB_CFLAGS_MAINT_PREPEND)

debugger = \
   DEB_CFLAGS_MAINT_PREPEND="$(DEB_CFLAGS_MAINT_PREPEND:$(new_opt_level)=)" \
 DEB_CXXFLAGS_MAINT_PREPEND="$(DEB_CFLAGS_MAINT_PREPEND:$(new_opt_level)=)" \
  DEB_CPPFLAGS_MAINT_APPEND="$(DEB_CPPFLAGS_MAINT_APPEND:-DNDEBUG=)"        \
 dpkg-buildflags --export=configure

# fluidsynth >= 2.0.0 required
FLUIDSYNTH_V2=$(shell pkg-config fluidsynth --atleast-version=2 && echo true )
ifneq ($(FLUIDSYNTH_V2), true)
  configure_extra += --disable-fluidsynth
endif

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean -Bbuild-release
	dh_auto_clean -Bbuild-debug

override_dh_auto_configure:
	# re-set version string, useful for gbp snapshot builds
	sed -E 's/(AC_INIT.+,[[]?)[^])]+/\1v$(subst ~,-,$(DEB_VERSION))/' configure.ac \
	  | autoconf -o configure -
	#
	dh_auto_configure -Bbuild-release -- $(configure_extra)
	dh_auto_configure -Bbuild-debug   -- $(configure_extra) \
		$(shell $(debugger) ) --enable-debug=heavy

override_dh_auto_build:
	dh_auto_build -Bbuild-release
	dh_auto_build -Bbuild-debug

override_dh_auto_install:
	dh_auto_install -Bbuild-debug
	mv debian/tmp/usr/bin/dosbox debian/tmp/usr/bin/dosbox-debug
	dh_auto_install -Bbuild-release
	$(MAKE) -C contrib/icons $(CURDIR)/debian/tmp/usr/share/icons/hicolor clean
