#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk
export DEB_CPPFLAGS_MAINT_APPEND=-D_FILE_OFFSET_BITS=64
export DEB_LDFLAGS_MAINT_APPEND=-flto=$(shell nproc)

release_buildflags = \
 DEB_CFLAGS_MAINT_APPEND="-O3 -flto" \
 DEB_CXXFLAGS_MAINT_APPEND="-O3 -flto" \
 DEB_CPPFLAGS_MAINT_APPEND="-D_FILE_OFFSET_BITS=64 -DNDEBUG" \
 dpkg-buildflags

debug_buildflags = \
 DEB_CFLAGS_MAINT_APPEND="-flto" \
 DEB_CXXFLAGS_MAINT_APPEND="-flto" \
 dpkg-buildflags

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean -Bbuild-release
	dh_auto_clean -Bbuild-debug

override_dh_auto_configure:
	# re-set version string, useful for gbp snapshot builds
	sed -E 's/(AC_INIT.+,[[]?)[^])]+/\1$(DEB_VERSION)/' configure.ac \
	  | autoconf -o configure -
	#
	dh_auto_configure -Bbuild-release -- \
			$(shell $(release_buildflags) --export=configure )
	dh_auto_configure -Bbuild-debug -- \
			$(shell $(debug_buildflags) --export=configure ) --enable-debug=heavy

override_dh_auto_build:
	dh_auto_build -Bbuild-release
	dh_auto_build -Bbuild-debug

override_dh_auto_install:
	dh_auto_install -Bbuild-debug
	mv debian/tmp/usr/bin/dosbox debian/tmp/usr/bin/dosbox-debug
	dh_auto_install -Bbuild-release
	# Try in install .desktop and icons
	# but ignore errors
	install -DT -m 644 $(CURDIR)/contrib/linux/dosbox-staging.desktop \
	 $(CURDIR)/debian/tmp/usr/share/applications/dosbox-staging.desktop || true
	cd $(CURDIR)/contrib/icons && \
	  <Makefile sed -E \
		 's|(install( [[:graph:]]+){4} +)|\1$(CURDIR)/debian/tmp/usr/share/|' \
		 | make -f - hicolor && make clean || true
